<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Responsive website template for products</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300' rel='stylesheet' type='text/css'> 
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- Custom styles for this template -->
    <link href="assets/css/course.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body class="home-page">    
    <!-- ******HEADER****** --> 
    <header id="header" class="header">  
        <div class="container">  
            <h1 class="logo">
                <a href="index.html"><span class="text">1月1课</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-right">
                        <li class="active nav-item"> <a href="videos.html" id="nav-back">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            回到课程
                            </a>                    
                        </li>
                    </ul><!--//nav-->
                    
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div><!--//container-->
    </header><!--//header-->

    <!-- ******Video Section****** --> 
    <section class="features-video section section-on-bg">
        <div class="container text-center">          
            <div class="video-container">
                <iframe src="http://player.vimeo.com/video/90299717?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div><!--//video-container--> 
        </div><!--//container-->
    </section><!--//feature-video-->
        <br><br>
        </br></br>

    <div class="container step-container">
      <ul class="nav nav-pills navbar-right" id="playback_speeds" style="display:none;" data-speed="1.0" data-name="1x">
          <li class="dropdown">
            <a id="playback_speed_drop" role="button" data-toggle="dropdown" href="#">Speed <span class="caret"></span></a>
            <ul id="playback_speed_menu" class="dropdown-menu" role="menu" aria-labelledby="playback_speed_drop">
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="0.5" data-name="Drunk Mode" href="#">Drunk Mode</a>
                </li>
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="0.75" data-name="0.75x" href="#">0.75x</a>
                </li>
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="1.0" data-name="1x" href="#">1x</a>
                </li>
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="1.25" data-name="1.25x" href="#">1.25x</a>
                </li>
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="1.5" data-name="1.5x" href="#">1.5x</a>
                </li>
                <li role="presentation">
                  <a tabindex="-1" role="menuitem" data-speed="2.0" data-name="2x" href="#">2x</a>
                </li>
            </ul>
          </li>
      </ul>

      <h1>The Command Line</h1>
      <br></br>
      <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#step-notes">Lesson Notes</a>
        </li>
          <li>
            <a data-toggle="tab" href="#troubleshooting">Troubleshooting</a>
          </li>
        <li>
          <a data-toggle="tab" href="#comments">Support</a>
        </li>
      </ul>

    <!-- ******Lesson Notes Tab****** --> 
      <div class="tab-content">
        <div class="tab-pane active" id="step-notes">
         <br>
         <p class="lead">The command line can be a scary place for beginners, but there are only a handful of commands you'll need to know in order to use it including pwd, cd, and ls.</p>

         <div class= id="step-content">           
           <h3>1. Open the Command Line</h3>
              <ul>
              <li>On Mac you can go to spotlight "Terminal" and add to your dock.</li>
              <li>On PC you can search for Gitbash (a program that comes with Rails installer).</li>
              </ul>
              <h3>2. Customize your Terminal (<i class="fa fa-apple"></i> Only)</h3>
              <ol>
              <li>Terminal -&gt; Preferences -&gt; Settings</li>
              <li>Select the "Homebrew" theme on the left side</li>
              <li>Click "Change" and increase the font size to 18px</li>
              <li>Choose "Default"</li>
              </ol>
              <h3>3. Learn these basic commands</h3>
              <pre><code class="prettyprint lang-scm prettyprinted"><span class="pln">
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="pwd" data-content="Shows your where you are on your computer. Aka. which folder or directory you are in. (2:50)" data-original-title="" title=""><span class="pln">pwd</span></a><span class="pln">
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="open ." data-content="Open the finder and show you all the files in that director. The period means ALL" data-original-title="" title=""><span class="pln">open </span><span class="pun">.</span></a><span class="pln"> </span><span class="com">#this is for Mac only. On a Window's PC try "start ." instead of open</span><span class="pln">
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="ls" data-content="It shows you what is inside of the folder (5:00)" data-original-title="" title=""><span class="pln">ls</span></a><span class="pln"> </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="What's this # symbol?" data-content="If you see a # with words to the right of it, that is a comment. Sometimes we developer use them to make little notes. Occasionally I add these comments for you in the lecture notes" data-original-title="" title=""><span class="com"># Stands for list. Also, this is a comment.</span></a><span class="pln">
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="cd + the name of the file you are in" data-content="Allows you to move into that folder" data-original-title="" title=""><span class="pln">cd </span><span class="typ">Desktop</span></a><span class="pln"> 
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="cd ~" data-content="Brings you back to the root (or top of your folder structure)" data-original-title="" title=""><span class="pln">cd </span><span class="pun">~</span></a><span class="pln">
              $ </span><a href="#" id="railsserver" rel="popover" data-container="body" data-title="ls -a" data-content="Similar to ls, but by adding -a you can also list hidden files" data-original-title="" title=""><span class="pln">ls </span><span class="pun">-</span><span class="pln">a</span></a>
              </code></pre>
              <h3>4. Permission denied error? (<i class="fa fa-apple"></i> Only)&nbsp;<a href="#" onclick="wistiaEmbed.time(685);return true;" rel="tooltip" data-placement="right" title="" data-original-title="Jump to 11:25"><i class="fa fa-clock-o"></i></a></h3>
              <p>If you get a permissions error somewhere along the line, you might be able to use "sudo", which is your super user account (aka. it's like the admin of your computer that has all the privileges.) For example:</p>
              <pre><code class="prettyprint lang-scm prettyprinted"><span class="pln">$ sudo cd </span><span class="typ">Desktop</span></code></pre>
              <h3>5. Read Additional Resources (optional)</h3>
              <p><a href="http://cli.learncodethehardway.org/book/" target="_blank">Zed Shaw's The Command Line Crash Course</a> - this is a great online course and only takes a few hours to get through. If you're short on time I'd recommend you go as far as the lesson on <a href="http://cli.learncodethehardway.org/book/ex11.html" target="_blank">"Moving A File (mv)"</a>.
              <script>// <![CDATA[
              $('a[rel="popover"').on('click', function(e) {e.preventDefault(); return true;});
              // ]]></script>
              </p>
             
          </div>
        <div class="text-right">
          <span id="update-step-progress"></span>
        </div>
        <h1><a class="btn btn-cta btn-cta-primary" href="signup.html">完成继续</a></h1> 
      </div>

    <!-- ******Q & A Tab****** --> 
      <div class="tab-pane" id="troubleshooting">
          <h3>Q: Why isn't "open" working on Windows?</h3>
          <p>Use "start ." instead. This will work on Windows when you are using the Git Bash command line.</p>
          <h3>Q: Why isn't "open" working on Ubuntu?</h3>
          <p>Open isn't a command in Debian systems.</p>
          <p>Use "xdg-open" instead. However, "xdg-open ." does not open current directory.</p>
      </div>

    <!-- ******Feedback Tab****** --> 
      <div class="tab-pane" id="comments">
        <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
          <div class="row">
            <div class="col-md-12">
              <h3>Before You Ask</h3>
          </div>
          <div class="col-md-6">
            <strong>Tips for Finding Solutions</strong>
            <ul>
              <li>Check out <a href="#" rel="popover" data-container="body" data-content=" Most lectures have a troubleshooting tab below the video, but not every  lecture will have it." data-original-title="I don't see a troubleshooting tab?">the troubleshooting tab</a> for this lesson (if there is one)</li>
              <li>Search <a href="http://www.google.com" target="_blank">Google</a> and <a href="http://stackoverflow.com" target="_blank">Stack Overflow</a>, or even <a href="http://stackoverflow.com/" target="_blank">post a question</a></li>


                <li>Read your error message: <a href="http://blog.onemonthrails.com/4-debugging-techniques-every-developer-should-know-markdown/" target="_blank">watch this video to learn how</a></li>
                <li>Did you run your database migrations <a href="#" rel="popover" data-container="body" data-content="$ rake db:migrate" data-original-title="How do I run a local migration?">locally</a> and on <a href="#" rel="popover" data-container="body" data-content="$ heroku run rake db:migrate" data-original-title="How do I run a Heroku migration?">Heroku</a>?</li>
                <li>Read the <a href="http://api.rubyonrails.org/" target="_blank">Rails</a>, <a href="//devcenter.heroku.com" target="_blank">Heroku</a>, or <a href="//rubygems.org/gems" target="_blank">gem</a> documentation</li>
                <li>Check your <a href="//devcenter.heroku.com/articles/error-codes" target="_blank">Heroku logs</a> and <a href="//developers.google.com/chrome-developer-tools/docs/console" target="_blank"> Chrome's DevTools Console</a></li>
                <li>Try a different brower, like <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a>.</li>
            </ul>
          </div>

        <div class="col-md-6">
          <strong>Asking Questions</strong>
          <ul>
            <li>Be clear, concise and descriptive</li>
            <li>List the error message</li>
            <li>List the course and step (if not already listed)</li>
            <li>Link to your GitHub repo and Heroku page</li>
            <li>Edit your post with the solution if you find it</li>
          </ul>
          You can also email <a href="mailto:teachers@onemonth.com">teachers@onemonth.com</a>
        </div>

        <div class="col-md-12">
          <strong>For discussion visit our <a href="https://onemonth.com/community">Community Section</a></strong>
        </div>
      </div>
    </div>
  <h1>有任何问题 ？</h1>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#step-notes"></a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="active" id="step-notes">
            <form id="contact-form" class="contact-form" method="post" action="">                    
                <div class="row text-center">
                    <div class="contact-form-inner col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
                        <div class="row">                                                           
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="sr-only" for="cname">email</label>
                                <input type="text" class="form-control" id="cname" name="name" placeholder="邮箱" minlength="5" required>
                            </div>                    
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="sr-only" for="cname">title</label>
                                <input type="text" class="form-control" id="cname" name="name" placeholder="题目" minlength="2" required>
                            </div>                    
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <label class="sr-only" for="cmessage">Your message</label>
                                <textarea class="form-control" id="cmessage" name="message" placeholder="请描述您的问题" rows="12" required></textarea>
                            </div>
                             <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                <button type="submit" class="btn btn-block btn-cta btn-cta-primary">发送</button>
                            </div>                           
                        </div><!--//row-->
                    </div>
                </div><!--//row-->
                <div id="form-messages"></div>
            </form><!--//contact-form-->
        </div>
    </div>
  </div>
</div> <!-- /container -->

    <!-- *****CONFIGURE STYLE****** -->  
    <div class="config-wrapper">
        <div class="config-wrapper-inner">
            <a id="config-trigger" class="config-trigger" href="#"><i class="fa fa-cog"></i></a>
            <div id="config-panel" class="config-panel">
                <h5>Choose Colour</h5>
                <ul id="color-options" class="list-unstyled list-inline">
                    <li class="theme-1 active" ><a data-style="assets/css/styles.css" href="#"></a></li>
                    <li class="theme-2"><a data-style="assets/css/styles-2.css" href="#"></a></li>
                    <li class="theme-3"><a data-style="assets/css/styles-3.css" href="#"></a></li>
                    <li class="theme-4"><a data-style="assets/css/styles-4.css" href="#"></a></li>                   
                    <li class="theme-5"><a data-style="assets/css/styles-5.css" href="#"></a></li>                     
                    <li class="theme-6"><a data-style="assets/css/styles-6.css" href="#"></a></li>
                    <li class="theme-7"><a data-style="assets/css/styles-7.css" href="#"></a></li>
                    <li class="theme-8"><a data-style="assets/css/styles-8.css" href="#"></a></li>                    
                    <li class="theme-9"><a data-style="assets/css/styles-9.css" href="#"></a></li>
                    <li class="theme-10"><a data-style="assets/css/styles-10.css" href="#"></a></li>
                </ul><!--//color-options-->
                <a id="config-close" class="close" href="#"><i class="fa fa-times-circle"></i></a>
            </div><!--//configure-panel-->
        </div><!--//config-wrapper-inner-->
    </div><!--//config-wrapper-->

    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="assets/plugins/FitVids/jquery.fitvids.js"></script>  
    <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script> 
    <script type="text/javascript" src="assets/js/main.js"></script>
    
            
</body>
</html> 

